<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header.html :: head">

<body style="background-color: #111111;">
  <div th:insert="fragments/header.html :: navigationBar"></div>

  <div class="container" style="margin-top: 40px; margin-bottom: 50px;">

    <h1 th:text="${error}" style="color: red">  </h1>
    <form th:action="@{./changePassword}" method="post" class="form-control">
      Your ID:  <input name="userId" type="number" th:value="${userId}" readonly class="form-control"/>

      <br>

      Enter Your OldPassword:
      <input name="oldPassword"  required class="form-control"/>
      <br/>
      Enter New Password:
      <input name="newPassword" required class="form-control"/>
      <br/>
      <button type="submit" class="btn btn-success"> Save Change  </button>
    </form>

  </div>


</body>
</html>