<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style/login.css}" rel="stylesheet" >
    <title>Forgot Password</title>
</head>
<body>
<section>
  <div class="form-box">
    <div class="form-value">
      <form action="#" th:action="@{./forgotPassword}"  method="post" id="login">
        <h2>Forgot Password</h2>
        <h3 style="color: red; text-align: center" th:text="${session.mess1}" >  </h3>

        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="password" th:name="email" id="email"  required>
          <label for="">Enter Your Email</label>
        </div>


        <button onclick="notice()">Get Your Password</button>

      </form>

    </div>
  </div>
</section>
<script>
  function notice(){
   var email = document.getElementById('email').value
    alert("Your Password has been sent to "+ email)
  }
</script>

</body>
</html>